// Color variables (appears count calculates by raw css)

@main-color: #607D8B;

// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 37 times
@color1: #dab074; // Appears 24 times
@color2: #cc9b59; // Appears 24 times
@color3: #d29948; // Appears 13 times
@color4: #a5732a; // Appears 10 times
@color5: #686868; // Appears 8 times
@color6: #dbb075; // Appears 6 times
@color7: #eeeeee; // Appears 6 times
@color8: #696969; // Appears 6 times
@color9: #ececec; // Appears 5 times
@color10: #89612e; // Appears 4 times
@color11: #c4c4c4; // Appears 4 times
@color12: #d99c4e; // Appears 4 times
@color13: #fef7ee; // Appears 3 times
@color14: #000000; // Appears 3 times
@color15: #b07b2c; // Appears 3 times
@color16: #fbfafa; // Appears 2 times
@color17: #a56d1a; // Appears 2 times
@color18: #3a424c; // Appears 2 times
@color19: #818285; // Appears 2 times
@color20: #404040; // Appears 2 times
@color21: #d89b4e; // Appears 2 times
@color22: #f7f7f7; // Appears 2 times

@white: #ffffff; // Appears 37 times
@color1: lighten(@main-color, 20%); // Appears 24 times
@color2: lighten(@main-color, 10%); // Appears 24 times
@color3: @main-color; // Appears 13 times
@color4: darken(@main-color, 10%); // Appears 10 times
@color5: #686868; // Appears 8 times
@color6: lighten(@main-color, 15%); // Appears 6 times
@color7: #eeeeee; // Appears 6 times
@color8: #696969; // Appears 6 times
@color9: #ececec; // Appears 5 times
@color10: darken(@main-color, 20%);; // Appears 4 times
@color11: #c4c4c4; // Appears 4 times
@color12: lighten(@main-color, 6%); // Appears 4 times
@color13: screen(@main-color, #f7f7f7);; // Appears 3 times
@black: #000000; // Appears 3 times
@color15: darken(@main-color, 6%); // Appears 3 times
@color16: screen(@main-color, #ededed); // Appears 2 times
@color17: @color4; // Appears 2 times
@color18: #3a424c; // Appears 2 times
@color19: #818285; // Appears 2 times
@color20: #404040; // Appears 2 times
@color21: @main-color; // Appears 2 times
@color22: #f7f7f7; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width7: 100%; // Appears 20 times

// Height variables (appears count calculates by raw css)
@height16: 100%; // Appears 11 times

.transform(@args) {
  -ms-transform: @args; // IE9
  -webkit-transform: @args; // Chrome, Safari, Opera
  transform: @args;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background: @white;
  color: @black;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

html {
  height: @height16;
}

a {
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -webkit-transition: 300ms;
  color: @color4;
  transition: 300ms;
  &:hover {
    color: @color1;
    outline: none;
    text-decoration: none;
  }
  &:focus {
    outline-offset: 0;
    outline: none;
  }
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
  color: @color5;
}

h2 {
  color: @color5;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.overflow {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.btn-common {
  border: 1px solid @color6;
  color: #797979;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 25px;
  &:hover {
    background: none;
    box-shadow: none;
    color: @color3;
    outline: none;
  }
  &:focus {
    background: none;
    box-shadow: none;
    color: @color3;
    outline: none;
  }
}

#action {
  background-color: @color16;
  background-image: url(../images/home/tour-bg.png);
  background-position: center;
  background-repeat: repeat-x;
  display: table;
  height: 155px;
  position: relative;
  position: static;
  width: @width7;
  .col-sm-5 {
    height: @height16;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.align-right {
  text-align: right;
}

.inline {
  display: inline-block;
}

.padding {
  padding: 65px 0;
}

.padding-bottom {
  padding-bottom: 65px;
}

.padding-top {
  padding-top: 90px;
}

.padding-right {
  padding-right: 80px;
}

.padding-left {
  padding-left: 80px;
}

.margin-bottom {
  margin-bottom: 35px;
}

.carousel-indicators.visible-xs {
  height: 20px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -35px;
  width: @width7;
  li {
    border-color: @color3;
    border-width: 2px;
    height: 12px;
    margin: 0 5px 0 0;
    width: 12px;
  }
  li.active {
    background: rgba(210, 153, 72, 0.7);
  }
}

#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0;
  .navbar-inverse {
    .container {
      position: relative;
    }
    .navbar-nav {
      li {
        a {
          &:hover {
            color: @color3;
          }
        }
      }
    }
  }
  .navbar {
    background: @white;
    border: 0;
    margin-bottom: 0;
  }
  .navbar-toggle {
    margin-top: 20px;
  }
  .navbar-brand {
    margin-left: 0;
    padding: 0;
    h1 {
      margin: 0;
      padding: 0;
    }
  }
  .navbar-nav.navbar-right > li {
    &:last-child {
      margin-right: 20px;
    }
    a {
      color: @black;
      font-size: 12px;
      font-weight: 300;
      padding: 20px;
      text-transform: uppercase;
    }
  }
  .navbar-nav {
    li {
      ul.sub-menu {
        li {
          a {
            color: @color19;
            display: block;
            font-size: 13px;
            padding: 5px 0;
            text-transform: capitalize;
            &:hover {
              background: @color13;
              color: @color3;
            }
            &:focus {
              background: @color13;
              color: @color3;
            }
          }
          .active {
            background: @color13;
            color: @color3;
            position: relative;
            i {
              color: @color1;
              font-size: 56px;
              position: absolute;
              top: -13px;
            }
            .fa-angle-right {
              left: -3px;
            }
            .fa-angle-left {
              right: -3px;
            }
          }
        }
      }
    }
  }
}

.search {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1;
  i {
    color: @color6;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 2px;
  }
}

.field-toggle {
  display: none;
  height: 50px;
  position: relative;
  right: 15px;
  top: 30px;
}

.search-form {
  border-radius: 4px;
  border: 1px solid @color6;
  color: @color19;
  font-size: 18px;
  font-weight: 300;
  height: 40px;
  margin-top: 20px;
  outline: none;
  padding-left: 10px;
}

.social-icons {
  ul {
    li {
      padding: 0 10px;
      &:last-child {
        padding-right: 0;
      }
      a {
        color: #d3d3d3;
        font-size: 18px;
        padding: 0;
        &:hover {
          background: none;
          color: @color6;
        }
        &:focus {
          background: none;
          color: @color6;
        }
      }
    }
  }
}

#header .navbar-inverse .navbar-nav li.active > a, #header .navbar-inverse .navbar-nav li.active > a:focus, #header .navbar-nav.navbar-right li > a:hover, .navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: @color3;
}

ul.sub-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fa-angle-down {
  padding-left: 5px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

#footer {
  padding-bottom: 75px;
  h1 {
    margin-bottom: 65px;
    margin-top: 36px;
  }
  .bottom-separator {
    margin-bottom: 60px;
  }
}

#message {
  height: 110px;
  resize: none;
}

.bottom > h2 {
  margin-bottom: 26px;
  margin-top: 0;
}

.bottom {
  .media-body {
    h3 {
      margin-top: 0;
      padding-left: 25px;
      a {
        color: @color12;
      }
    }
  }
}

.testimonial {
  .media {
    margin-bottom: 25px;
    margin-top: 0;
    .media-body {
      blockquote {
        border-left: 0;
        margin-bottom: 0;
        padding-left: 25px;
        padding-right: 30px;
        position: relative;
        &:before {
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          color: @color12;
          content: '"';
          font-family: 'Noto Sans', sans-serif;
          font-size: 40px;
          left: 5px;
          line-height: 0;
          position: absolute;
          top: 8px;
          transform: rotate(180deg);
        }
        &:after {
          bottom: 14px;
          color: @color12;
          content: '"';
          font-family: 'Noto Sans', sans-serif;
          font-size: 40px;
          line-height: 0;
          position: absolute;
          right: 30px;
        }
      }
    }
  }
  .media > .pull-left {
    margin-right: 25px;
    img {
      margin-top: 6px;
    }
  }
}

.bottom > address {
  line-height: 22px;
  margin-bottom: 40px;
}

.form-control {
  border: 1px solid @color12;
  box-shadow: none;
  font-weight: 300;
  height: 40px;
  outline: none;
  &:hover {
    border-color: @color3;
    box-shadow: none;
    outline: none;
  }
  &:focus {
    border-color: @color3;
    box-shadow: none;
    outline: none;
  }
}

.btn-submit {
  background-color: @color21;
  border-bottom: 3px solid #a56617;
  border-radius: 3px;
  box-shadow: none;
  color: @white;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 5px;
  padding: 10px;
  text-transform: uppercase;
  width: @width7;
  &:hover {
    box-shadow: none;
    color: @white;
    opacity: .8;
    outline: none;
  }
  &:focus {
    box-shadow: none;
    color: @white;
    opacity: .8;
    outline: none;
  }
}

.copyright-text {
  margin-top: 70px;
}

#home-slider {
  background: url(../images/home/slider-bg.png) 0 100% repeat-x;
  position: relative;
  .main-slider {
    height: 260px;
    position: relative;
  }
  .slide-text {
    left: 0;
    position: absolute;
    top: 0;
    width: 450px;
  }
  h1 {
    margin-bottom: 25px;
    margin-top: 70px;
  }
  .btn-common {
    margin-top: 20px;
  }
}


#page-breadcrumb {
  background-color: @color16;
  background-image: url(../images/home/tour-bg.png);
  background-position: center;
  background-repeat: repeat-x;
  display: table;
  padding:40px 0;
  margin-bottom: 40px;
  position: relative;
  width: @width7;

  overflow: hidden;
  .icon{
    position: absolute;
    font-size: 10em;
    top: -1rem;
    right: 2rem;
    .transform(rotate(4deg));
    color: @color2;
  }
  .action{
    position: relative;
  }
}

.vertical-center {
  display: table-cell;
  position: static;
  vertical-align: middle;
  width: @width7;
}

.single-service {
  display: block;
  overflow: hidden;
  img {
    height: 85px;
    margin-bottom: 35px;
  }
  .fold {
    margin-bottom: 35px;
  }
  h2 {
    margin-bottom: 15px;
    margin-top: 0;
  }
  p {
    padding: 0 48px;
  }
}

.action {
  h1 {
    margin: 0;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
  }
  .btn-common {
    float: left;
    margin-top: 55px;
  }
}

.title {
  color: @color20;
  font-weight: 300;
}

.single-features {
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 65px;
  &:last-child {
    padding-bottom: 95px;
  }
  h2 {
    margin-bottom: 15px;
  }
}

#clients {
  padding-bottom: 45px;
}

.clients {
  margin-bottom: 45px;
  img {
    display: inline-block;
  }
}

.clients-logo {
  margin-bottom: 10px;
  overflow: hidden;
}

#team {
  padding: 85px 0;
}

#team-carousel {
  margin-top: 80px;
}

#company-information {
  .padding-top {
    padding-top: 105px;
  }
  .about-us {
    h2 {
      margin-bottom: 45px;
    }
  }
  h2 {
    margin-bottom: 25px;
    margin-top: 0;
  }
  h1.margin-bottom {
    margin-bottom: 26px;
  }
}

.tour-button {
  background-position: 151px 4px;
  background-repeat: no-repeat;
  height: @height16;
  left: 0;
  position: absolute;
  width: @width7;
}

.team-single {
  position: relative;
  &:hover {
    .social-profile {
      -moz-transition: all 0.9s ease;
      -ms-transition: all 0.9s ease;
      -o-transition: all 0.9s ease;
      -webkit-animation: fadeInUp 400ms;
      -webkit-transition: all 0.9s ease;
      animation: fadeInUp 400ms;
      display: block;
      transition: all 0.9s ease;
    }
  }
}

.person-thumb {
  position: relative;
}

.social-profile {
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  background: none repeat scroll 0 0 rgba(137, 97, 46, 0.8);
  display: none;
  height: @height16;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.9s ease;
  width: @width7;
  .nav-pills {
    display: inline-block;
    margin-top: -26px;
    padding: 0;
    position: relative;
    top: 50%;
    li {
      display: inline-block;
      margin: 0 5px;
      a {
        -webkit-transition: all 0.9s ease;
        border-radius: 40px;
        border: 1px solid @white;
        color: @white;
        height: 40px;
        line-height: 40px;
        padding: 0;
        text-align: center;
        transition: all 0.9s ease;
        width: 40px;
        &:hover {
          border-color: @color10;
          color: @color10;
        }
      }
    }
  }
}

.person-info {
  h2 {
    font-weight: 300;
    margin-bottom: 5px;
  }
  h3 {
    color: @color5;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.team-carousel-control {
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  height: 16px;
  position: absolute;
  text-indent: -9999999px;
  top: 36%;
  transition: all 0.9s ease;
  width: 13px;
  &:hover {
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    background-position: 0 -18px;
    transition: all 0.5s ease 0s;
  }
}

.right.team-carousel-control {
  background-image: url(../images/aboutus/right.png);
  right: -50px;
}

.left.team-carousel-control {
  background-image: url(../images/aboutus/left.png);
  left: -50px;
}

.count {
  h1 {
    color: @color1;
    font-size: 60px;
  }
  h3 {
    font-size: 16px;
  }
}

.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 30px;
  .progress-bar.six-sec-ease-in-out {
    -moz-transition: width 1s ease-in-out;
    -ms-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
}

.top-zero {
  margin-top: 0;
}

h3.top-zero {
  font-size: 20px;
}

.single-skill {
  h3 {
    font-size: 16px;
  }
}

.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 30px;
}

.progress-bar.progress-bar-primary {
  background: @color1;
}

#recent-projects {
  padding: 85px 0;
}

.recent-projects {
  .team-single {
    height: 355px;
  }
  p.padding-bottom {
    padding-bottom: 50px;
  }
}

.choose {
  padding-top: 30px;
}

#company-information.choose {
  .padding-top {
    padding-top: 78px;
  }
}

ul.elements {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  li {
    margin: 6px 0;
  }
  li > i {
    color: @color3;
    display: inline-block;
    margin-right: 10px;
  }
}

.pagination li a:hover, .pagination .active a, .pagination .active a:hover, .pagination .active a:focus {
  background: none;
  border-color: @color2;
  color: @color2;
}

.sidebar {
  h3 {
    border-bottom: 3px solid @color9;
    color: @color20;
    margin-bottom: 6px;
    margin-top: 0;
    padding-bottom: 8px;
  }
}

.sidebar-item {
  margin-bottom: 48px;
  .media {
    -webkit-transition: all 0.3s ease 0s;
    border-bottom: 1px solid @color9;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 21px;
    transition: all 0.3s ease 0s;
    &:last-child {
      border-bottom: 0px solid @color9;
      padding-bottom: 0;
    }
    &:hover {
      -webkit-transition: all 0.3s ease 0s;
      border-left: 2px solid @color1;
      padding-left: 5px;
      transition: all 0.3s ease 0s;
    }
    &:hover.media {
      .media-body {
        h4 {
          a {
            -webkit-transition: all 0.3s ease 0s;
            color: @color1;
            transition: all 0.3s ease 0s;
          }
        }
      }
    }
    .media-body {
      h4 {
        margin-bottom: 8px;
        margin-top: 0;
        a {
          color: #7d7d7d;
          font-size: 16px;
        }
      }
      p {
        color: #b4b4b4;
        font-size: 12px;
      }
    }
  }
}

.categories {
  .navbar-stacked {
    li {
      border-bottom: 1px solid @color9;
      &:last-child {
        border-bottom: 0px solid @color9;
      }
      a {
        color: #6a6a6a;
        font-size: 16px;
        padding-left: 0;
        padding: 8px 0;
        &:hover {
          background: none;
          color: @color1;
          margin-left: 20px;
          opacity: 1;
        }
      }
    }
    li.active {
      a {
        color: @color1;
        padding-left: 20px;
        &:before {
          -webkit-transition: all 0.3s ease 0s;
          border-color: transparent transparent transparent @color1;
          border-style: solid;
          border-width: 8px;
          content: "";
          left: 0;
          margin-top: 0;
          position: absolute;
          top: 13px;
          transition: all 0.3s ease 0s;
          z-index: 0;
        }
        &:after {
          -webkit-transition: all 0.3s ease 0s;
          border-color: transparent transparent transparent @white;
          border-style: solid;
          border-width: 6px;
          content: "";
          left: 0px;
          margin-top: 0;
          position: absolute;
          top: 15px;
          transition: all 0.3s ease 0s;
          z-index: 1;
        }
      }
    }
  }
}

.tag-cloud {
  .nav-pills {
    margin-top: 16px;
    li {
      margin-right: 4px;
      margin-top: 6px;
      margin: 0;
      a {
        background: #bbbbbb;
        border-radius: 3px;
        color: @white;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 15px;
        &:hover {
          background: @color1;
        }
      }
    }
  }
}

.popular {
  ul.gallery {
    list-style: none;
    margin: 0;
    margin: 10px -8px;
    padding: 0;
    li {
      display: block;
      float: left;
      padding: 8px;
      width: 33.33%;
      a {
        display: block;
        img {
          -webkit-transition: border-radius 300ms ease-in;
          transition: border-radius 300ms ease-in;
          width: @width7;
          &:hover {
            border-radius: 60px;
          }
        }
      }
    }
  }
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope {
  -moz-transition-duration: 0.8s;
  -moz-transition-property: height, width;
  -ms-transition-duration: 0.8s;
  -ms-transition-property: height, width;
  -o-transition-duration: 0.8s;
  -o-transition-property: height, width;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-property: height, width;
  transition-duration: 0.8s;
  transition-property: height, width;
  .isotope-item {
    -moz-transition-duration: 0.8s;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-duration: 0.8s;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-duration: 0.8s;
    -o-transition-property: -o-transform, opacity;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-duration: 0.8s;
    transition-property: transform, opacity;
  }
  .isotope-item.no-transition {
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

.isotope.no-transition {
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  .isotope-item {
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

#portfolio-information.padding-top {
  padding-top: 100px;
}

.project-name {
  h2 {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

#related-work {
  .title {
    margin-bottom: 55px;
    margin-top: 10px;
  }
}

.navbar-default {
  background: none;
  padding: 0;
  li {
    a {
      font-size: 12px;
      padding-right: 15px;
      padding: 0;
      i {
        padding-right: 8px;
      }
      &:hover {
        background: none;
        color: @color1;
      }
    }
  }
}

.skills {
  .navbar-default {
    margin-left: 35px;
  }
}

.client {
  .navbar-default {
    margin-left: 35px;
  }
}

.live-preview {
  .btn-common {
    margin-top: 21px;
    padding: 13px 45px;
  }
}

.single-blog.timeline {
  background: @white;
  border-bottom: 0;
  border: 1px solid @color7;
  padding-bottom: 0;
  position: relative;
}

.timeline {
  .post-content {
    padding: 20px 20px 0;
  }
  .post-thumb {
    img {
      width: @width7;
    }
  }
}

.post-thumb {
  margin: -1px -1px 0;
  overflow: hidden;
  position: relative;
  iframe {
    border: 0;
    min-height: 270px;
    width: @width7;
  }
}

.post-overlay {
  display: none;
  height: 140px;
  margin-top: -70px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 94px;
  span {
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 9;
    &:before {
      border-color: transparent transparent @color1 transparent;
      border-style: solid;
      border-width: 60px;
      bottom: 0;
      content: "";
      cursor: initial;
      position: absolute;
      z-index: -1;
    }
    a {
      background: transparent;
      color: @white;
      font-size: 30px;
      margin-left: 50px;
      padding: 0;
    }
  }
}

.single-blog {
  padding-bottom: 30px;
  &:hover {
    .post-overlay {
      -webkit-animation: fadeIn 300ms;
      animation: fadeIn 300ms;
      display: block;
    }
  }
  .post-bottom {
    border-bottom: 1px solid @color7;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .post-overlay {
    span {
      -webkit-animation: fadeInLeft 400ms;
      animation: fadeInLeft 400ms;
      background: url(../images/blog/blog-arrow.png);
      height: 140px;
      left: 0;
      margin-left: 0;
      top: 0;
      width: 94px;
      a {
        font-size: 36px;
        font-weight: 700;
        line-height: 18px;
        margin-left: 8px;
        position: absolute;
        top: 50px;
        small {
          font-size: 16px;
          font-weight: 300;
          margin-left: 5px;
        }
      }
      &:before {
        border-color: transparent;
        border-width: 0;
      }
    }
  }
}

.timeline-divider {
  padding-top: 50px;
  position: relative;
  &:before {
    border-left-color: @color1;
    border-left-style: solid;
    border-left-width: 1px;
    content: "";
    height: @height16;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 0;
  }
}

.timeline-blog {
  .col-sm-6.padding-top {
    padding-top: 70px;
  }
}

.post-content {
  padding: 20px 0;
  .post-author {
    margin-top: 0;
    a {
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.timeline-date {
  .btn-common {
    border-radius: 0;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 300;
    padding: 17px 40px;
  }
}

.arrow-right {
  position: relative;
  &:after {
    background: url(../images/blog/left.png);
    content: "";
    height: 54px;
    position: absolute;
    right: 1px;
    top: 15px;
    width: 43px;
  }
}

.arrow-left {
  position: relative;
  &:before {
    background: url(../images/blog/right.png);
    content: "";
    height: 54px;
    left: -2px;
    position: absolute;
    top: 86px;
    width: 43px;
  }
}

.post-title {
  margin-top: 0;
  a {
    color: @color5;
    &:hover {
      color: @color1;
    }
  }
}

.comments-number {
  a {
    color: @color5;
    &:hover {
      color: @color1;
    }
  }
}

a.read-more {
  color: @color4;
  font-weight: 300;
  &:hover {
    opacity: .8;
  }
}

.post-bottom {
  border-top: 1px solid @color7;
  margin-top: 20px;
  margin: 20px -20px 0;
  padding-top: 10px;
  padding: 20px 20px 0;
}

.post-nav {
  margin: 0;
  padding: 0;
  li {
    a {
      padding: 0;
      text-align: left;
      i {
        color: @color1;
        margin-right: 8px;
      }
      &:hover {
        background: none;
      }
    }
  }
}

.blog-padding-right {
  padding-right: 35px;
}

.blog-pagination {
  padding-bottom: 55px;
  padding-top: 10px;
  text-align: center;
}

.masonery_area {
  .single-blog {
    .post-thumb {
      height: auto;
      img {
        height: auto;
      }
    }
    .post-title {
      margin-top: 5px;
      a {
        font-size: 20px;
      }
    }
    .post-bottom {
      border-top: 0;
      margin-top: 15px;
      padding-top: 0;
    }
  }
}

.audiojs {
  background: @color1;
  height: 45px;
  width: @width7;
  .scrubber {
    background: @white;
    border-radius: 10px;
    border-top: 0;
    height: 8px;
    margin-left: 12px;
    margin-top: 19px;
    width: 170px;
  }
  .play-pause {
    background: #cca46c;
    border-right: 0;
    height: 45px;
    padding-left: 24px;
    padding-top: 10px;
    padding: 0;
    width: 68px;
  }
  .time {
    display: none;
  }
  .progress {
    background: @color4;
    border-radius: 10px;
    height: 8px;
  }
  .loaded {
    background: #ba9663;
    border-radius: 10px;
    height: 8px;
  }
}

.navbar-nav.post-nav {
  li {
    margin-right: 60px;
  }
}

.single-blog.blog-details {
  .post-content {
    padding-top: 30px;
  }
  .post-bottom {
    margin-top: 55px;
  }
}

.single-blog-wrapper {
  position: relative;
}

.blog-share {
  display: inline-block;
  margin-top: 40px;
  padding: 0;
}

span.stMainServices {
  height: 24px !important;
}

span.stButton_gradient {
  height: 24px !important;
}

.stButton {
  .chicklets {
    height: 24px !important;
  }
}

.author-profile.padding {
  padding-top: 50px;
}

.author-profile {
  .col-sm-2 {
    img {
      border-left: 3px solid @color1;
      width: @width7;
    }
  }
  h3 {
    color: @color18;
    margin-top: 0;
  }
  p {
    color: @color18;
    font-weight: 400;
  }
  span {
    a {
      color: @color4;
    }
  }
}

.response-area {
  border-bottom: 0;
  h2 {
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 20px;
  }
}

.post-comment {
  border-top: 1px solid #f1e8dd;
  padding-left: 70px;
  padding-top: 36px;
  .pull-left {
    img {
      border-left: 3px solid @color1;
      margin-right: 60px;
    }
  }
  .media-body {
    border-bottom: 0;
    padding-bottom: 50px;
    padding-top: 6px;
    p {
      margin-top: 10px;
    }
    span {
      i {
        color: @color4;
        margin-right: 10px;
      }
      a {
        color: @color4;
        font-weight: 700;
      }
    }
    .post-nav {
      li {
        a {
          font-weight: 300;
        }
      }
    }
  }
}

.parrent {
  .media-list {
    margin-left: 190px;
  }
  .post-comment {
    margin-left: 70px;
    padding-left: 0;
  }
}

#map-section {
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  .contact-info {
    background-color: @white;
    height: @height16;
    opacity: 0.9;
    padding: 25px 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    h2 {
      color: @color4;
    }
  }
  address {
    a {
      &:hover {
        color: @color4;
      }
    }
  }
}

#gmap {
  height: 350px;
}

.get-in-touch {
  img {
    margin-bottom: 32px;
    margin-top: 35px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
  }
}

#contact-form {
  #message {
    resize: none;
  }
  .btn-submit {
    margin: 5px auto;
    width: 28%;
  }
}

.corporate-info {
  .corporate-address {
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-bottom: 50px;
    address {
      background-image: url("../images/icon-map.png");
      background-position: left top;
      background-repeat: no-repeat;
      padding-left: 40px;
    }
  }
}

#price-table {
  margin-bottom: 90px;
  margin-top: 88px;
}

.single-price {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background-color: @color22;
      color: @color8;
      margin-bottom: 5px;
      padding: 12px 18px;
      span {
        float: right;
      }
    }
  }
  .plan-name {
    background-color: #D4D4D4;
    color: @color8;
    font-size: 20px;
    margin-bottom: 0;
    padding: 10px 0;
    text-transform: capitalize;
  }
  .plan-price {
    color: @color8;
    float: none;
    font-size: 14px;
    height: 110px;
    margin-bottom: 15px;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    z-index: 5;
    &:after {
      border-color: @color11 transparent transparent;
      border-style: solid;
      border-width: 110px;
      content: "";
      height: 0;
      left: 50%;
      margin-left: -110px;
      position: absolute;
      top: 0;
      width: 0;
      z-index: -1;
    }
  }
  .btn-buynow {
    background-color: @color11;
    border-radius: 0;
    color: @white;
    display: block;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 12px;
    text-transform: uppercase;
    &:hover {
      background-color: #b4b3b3;
    }
  }
}

.table-heading {
  background-color: transparent !important;
  color: @white !important;
  overflow: hidden;
  padding: 0 !important;
  text-align: center;
}

.plan-price {
  .dollar-sign {
    font-size: 18px;
  }
  .price {
    font-size: 24px;
  }
  .month {
    display: block;
    margin-top: -6px;
  }
}

.single-table {
  padding-top: 60px;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
    li {
      background-color: @color22;
      color: @color8;
      margin-bottom: 5px;
      padding: 12px 18px;
      span {
        float: right;
      }
    }
  }
  &:before {
    border-color: transparent transparent #b5b5b5;
    border-style: solid;
    border-width: 0 130px 60px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: @width7;
  }
  .btn-signup {
    display: block;
    position: relative;
    text-align: center;
    z-index: 1;
    &:after {
      border-color: @color11 transparent transparent;
      border-style: solid;
      border-width: 78px 130px 0;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -1px;
      width: @width7;
      z-index: -1;
    }
    a {
      color: @color8;
      display: inline-block;
      letter-spacing: 3px;
      overflow: hidden;
      padding: 20px 0 0 0;
      text-transform: uppercase;
    }
    &:hover {
      a {
        color: @white;
      }
    }
    &:hover.btn-signup {
      &:after {
        border-color: #b3b2b2 transparent transparent;
      }
    }
  }
}

.highligh-table {
  .plan-name {
    background-color: @color15;
    color: @white;
  }
  .plan-price {
    color: @white;
    &:after {
      border-color: @color17 transparent transparent;
    }
  }
  .btn-buynow {
    background-color: @color4;
    &:hover {
      background-color: #976a28;
    }
  }
  .btn-signup {
    a {
      color: @white;
    }
    &:after {
      border-color: @color15 transparent transparent;
    }
  }
  .table-header {
    h2 {
      color: @white;
    }
  }
  .btn-signup.btn-signup {
    &:hover {
      &:after {
        border-color: #a07028 transparent transparent;
      }
    }
  }
  &:before {
    border-color: transparent transparent @color17;
  }
}

#price-table2 {
  margin-bottom: 180px;
}

.table-header {
  background-color: @color11;
  overflow: hidden;
  padding: 20px;
  h2 {
    color: @color8;
    float: left;
    font-size: 24px;
    margin-top: 7px;
  }
  .plan-price {
    float: right;
    margin: 0;
    overflow: hidden;
    padding-top: 1px;
  }
}

.single-table.highligh-table {
  .table-header {
    background-color: @color15;
  }
}

#error-page {
  color: @color5;
  display: table;
  font-size: 18px;
  font-weight: 300;
  height: @height16;
  min-height: @height16;
  padding: 100px 0;
  width: @width7;
  .container-fluid {
    overflow: hidden;
  }
  h2 {
    font-size: 36px;
    text-transform: uppercase;
  }
  i {
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 1px solid @color2;
    color: @color2;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    margin: 0 15px;
    transition: all 0.3s ease-in-out;
    width: 40px;
    &:hover {
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      background-color: @color2;
      color: @white;
      transition: all 0.3s ease-in-out;
    }
  }
}

.error-page-inner {
  display: table-cell;
  vertical-align: middle;
}

.bg-404 {
  background-image: url("../images/home/tour-bg.png");
  background-position: center top;
  background-repeat: repeat-x;
}

.error-image {
  display: inline-block;
  padding-bottom: 50px;
  padding-top: 50px;
  img {
    width: @width7;
  }
}

.btn-error {
  background-color: transparent;
  border: 1px solid @color2;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 25px 55px;
  text-transform: uppercase;
  &:hover {
    background-color: @color2;
    border-color: @color2;
    color: @white;
  }
  &:focus {
    background-color: @color2;
    border-color: @color2;
    color: @white;
  }
}

#coming-soon {
  background-image: url("../images/home/tour-bg.png");
  background-position: center top;
  background-repeat: repeat-x;
  overflow: hidden;
  padding: 40px 0;
  i {
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 1px solid @color2;
    color: @color2;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    margin: 0 15px;
    transition: all 0.3s ease-in-out;
    width: 40px;
    &:hover {
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      background-color: @color2;
      color: @white;
      transition: all 0.3s ease-in-out;
    }
  }
  .social-link {
    margin-top: 35px;
  }
}

.logo-image {
  display: block;
  margin-bottom: 95px;
  margin-top: 80px;
  text-align: center;
  img {
    display: inline-block;
  }
}

.time-count {
  display: block;
  text-align: center;
  ul {
    padding-left: 0;
  }
}

#countdown {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
  li {
    color: #757575;
    float: left;
    font-size: 30px;
    font-weight: 300;
    margin-right: 100px;
    padding-top: 45px;
    position: relative;
    z-index: 1;
    &:last-child {
      margin-left: 20px;
      margin-right: 0;
    }
    span {
      display: block;
      font-size: 72px;
      margin-bottom: 25px;
    }
  }
  li.angle-one {
    &:before {
      border-color: @color3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 250px 145px 0;
      content: "";
      left: -80px;
      position: absolute;
      top: -5px;
      z-index: -1;
    }
    &:after {
      border-color: @white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 236px 137px 0;
      content: "";
      left: -72px;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    span.minutes {
      margin-left: 25px;
    }
    .minute {
      margin-left: 25px;
    }
  }
  li.angle-two {
    &:before {
      -moz-transform: skewX(30deg);
      -ms-transform: skewX(30deg);
      -o-transform: skewX(30deg);
      -webkit-transform: skewX(30deg);
      border-color: rgba(0, 0, 0, 0) @color4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 250px 290px 0 0;
      content: "";
      left: -175px;
      position: absolute;
      top: -5px;
      transform: skewX(30deg);
      z-index: -1;
    }
    &:after {
      -moz-transform: skewX(30deg);
      -ms-transform: skewX(30deg);
      -o-transform: skewX(30deg);
      -webkit-transform: skewX(30deg);
      border-color: rgba(0, 0, 0, 0) @white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 235px 272px 0 0;
      content: "";
      left: -162px;
      position: absolute;
      top: 5px;
      transform: skewX(30deg);
      z-index: -1;
    }
    span {
      padding-top: 90px;
    }
  }
}

#subscribe {
  background-color: #565656;
  color: @white;
  padding: 40px 0 50px;
  h2 {
    color: @white;
    text-transform: uppercase;
  }
  .fa-envelope-o {
    color: @color1;
    margin-right: 5px;
  }
  .form-control {
    background-color: transparent;
    color: @white;
    height: 52px;
  }
}

#newsletter {
  margin-top: 35px;
  position: relative;
  i {
    color: @color1;
    font-size: 36px;
    position: absolute;
    right: 12px;
    top: 7px;
  }
}

.newsletter {
  p {
    color: #919191;
    font-size: 12px;
    margin-top: 10px;
  }
}

#coming-soon-footer {
  line-height: 15px;
  overflow: hidden;
  padding: 45px 0;
  a {
    color: @color21;
    &:hover {
      color: #b38040;
    }
  }
}

.bs-example {
  margin: 0 0 20px;
}

.panel-group {
  border: 1px solid @color7;
  .panel {
    border-radius: 0;
  }
  .panel + .panel {
    margin-top: 0;
  }
  .panel-default {
    &:first-child > .panel-heading {
      border-top: 0;
    }
  }
}

.panel-default {
  //border: 0;
}

.panel-default > .panel-heading {
  background-color: transparent;
  //border-top: 1px solid @color7;
}

.panel-default > .panel-heading + .panel-collapse {
  .panel-body {
    border-top-color: @color7;
  }
}

.nav-pills > li.active > a {
  background-color: @color1;
  &:hover {
    background-color: @color1;
  }
  &:focus {
    background-color: @color1;
  }
}

.tab-content {
  padding-top: 20px;
}

.feature-inner {
  text-align: center;
}

.icon-wrapper {
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, .1) inset;
  background-color: @color3;
  border-radius: 100%;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .1) inset;
  color: @white;
  display: inline-block;
  margin: 10px 0;
  padding: 25px;
}

// RESPONSIVE

@media only screen and (min-width : 768px) {
  .nav.navbar-nav > li:hover > ul.sub-menu{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }

  ul.sub-menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
    padding: 10px 0;
    width: 240px;
    box-shadow: none;
    display: none;
    z-index: 999;
    border: 1px solid @color1;
  }

  #header .navbar-nav li ul.sub-menu li a {
    padding-left: 20px;
  }


}

/*md only*/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-4.portfolio-item{
    width: 33%;
  }
}

/*sm only*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-4.portfolio-item{
    width: 33%;
  }
}

/* md */
@media only screen and (max-width : 1200px) {

  /*Pricing Table*/
  .single-price .plan-price:after {
    border-width:100px;
    margin-left:-100px;
  }

  .single-table .table-content {
    padding: 20px;
  }

  .table-header {
    padding: 0 10px 7px;
  }

  .single-table:before {
    border-width:0 106px 60px;
  }

  .single-table .btn-signup:after {
    border-width:78px 106px 0;
  }

}

/* sm */
@media only screen and (max-width : 992px) {

  h1{
    font-size: 25px;
  }

  #header .navbar-nav.navbar-right li {
    padding: 0;
  }

  #header .navbar-nav.navbar-right >li a {
    padding: 20px 10px;
  }

  #home-slider {
    margin-top: 30px;
  }

  #home-slider .main-slider {
    height: 250px;
  }

  #home-slider .slide-text {
    top: 0;
    width: 50%;
  }

  #home-slider h1 {
    margin-top: 0;
  }

  /*Pricing Table*/
  .single-price {
    margin-bottom: 40px;
  }

  .single-price .plan-price {
    height: 140px;
  }

  .single-price .plan-price:after {
    border-width: 140px;
    margin-left: -140px;
  }

  .single-table {
    margin-bottom: 50px;
  }

  .single-table:before {
    border-width: 0 172px 60px;
  }

  .single-table .btn-signup:after {
    border-width: 78px 173px 0;
  }

  #price-table2 {
    margin-bottom: 100px;
  }

  .nav.navbar-nav.post-nav li{
    display: inline-block;
    margin-right: 15px;
  }

  .masonery_area .nav.nav-justified.post-nav li {
    display: table-cell;
  }

  /* Blog */
  .post-comment {
    padding-left: 0;
  }

  .post-comment .pull-left img {
    margin-right: 20px;
  }

  .parrent .post-comment {
    margin-left: 0;
  }

  .parrent .media-list {
    margin-left: 150px;
  }

  .single-blog.two-column .post-overlay{
    margin-top: 0;
  }

}


/* xs */
@media only screen and (max-width : 768px) {

  h1{
    font-size: 22px;
  }

  h2{
    font-size:20px;
  }

  .padding{
    padding: 30px 0;
  }

  #header {
    padding-bottom: 40px;
    padding-top: 10px;
  }

  .social-icons.pull-right{
    float: left !important;
  }

  #header .navbar-inverse .navbar-toggle,
  #header .navbar-inverse .navbar-toggle:focus {
    border-color: @color6;
    margin-top: 15px;
    margin-right: 5px;
    outline: none;
  }

  .navbar-header .navbar-toggle .icon-bar {
    background-color: @color6;
  }

  #header .navbar-inverse .navbar-toggle:hover {
    background: @color6;
  }

  #header .navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-top: 0;
  }

  .navbar.navbar-inverse {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .social-icons ul li:first-child{
    padding-left: 0;
  }

  .search {
    top: -40px;
  }

  #header .navbar-nav.navbar-right li > a > i {
    display: inline-block;
    float: right;
    padding: 8px 10px 8px 30px
  }

  #header .navbar-nav.navbar-right li > a {
    padding: 10px 0;
  }

  #header .navbar-nav li ul.sub-menu li a {
    padding: 5px 10px;
  }

  #header .navbar-inverse .navbar-nav li.active > a,
  #header .navbar-inverse .navbar-nav li.active > a:focus,
  #header .navbar-nav.navbar-right li > a:hover {
    border: none;
  }

  #home-slider {
    margin: 50px 20px;
  }

  #home-slider .main-slider {
    height: 180px;
  }

  #home-slider .slide-text {
    top: 20px;
    width: 100%;
    text-align: center;
  }

  #home-slider .slider-cloud2 {
    width: 100px;
  }

  /*Pricing Table*/
  .single-price, .single-table {
    margin-bottom: 45px;
  }

  .single-price .plan-price {
    height: 200px;
    padding-top: 25px;
  }

  .single-price .plan-price:after {
    border-width: 200px;
    margin-left: -200px;
  }

  .single-table:before {
    border-width: 0 225px 60px;
  }

  .single-table .btn-signup:after {
    border-width: 78px 225px 0;
  }

  .single-table .btn-signup a {
    padding: 15px;
  }


  #action.responsive{
    height: 255px;
  }

  .action.take-tour{
    margin-top: -95px;
  }

  .action.take-tour .col-sm-7{
    width: 100%;
    text-align: center;
  }

  .action.take-tour .col-sm-5{
    width: 100%;
    margin-top: 120px;
  }

  .single-features {
    padding-bottom: 0;
    padding-top: 30px;
  }

  .single-features img {
    margin-bottom: 25px;
  }


  .single-features {
    text-align: center;
  }

  .single-features * {
    display: inline-block;
    text-align: center;
  }


  /* about us */

  .team-single {
    margin-bottom: 30px;
  }

  #company-information.choose .padding-top {
    padding-top: 0;
  }

  /* Blog */
  .arrow-right:after {
    background: none ;
  }

  .arrow-left:before {
    background: none;
  }

  .col-sm-6.padding-right.arrow-right{
    padding-right: 15px;
  }

  .col-sm-6.padding-left.padding-top.arrow-left {
    margin-bottom: 70px;
    padding-left: 15px;
  }

  .blog-padding-right {
    padding-right: 15px;
  }

  .nav.nav-justified.post-nav li,
  .nav.navbar-nav.post-nav li{
    display: inline-block;
    margin-right: 15px;
  }

  .author-profile .col-sm-2 img {
    margin-bottom: 20px;
    width: auto;
  }

  .post-comment {
    padding-left: 0;
  }

  .parrent .post-comment {
    margin-left: 0;
  }

  .parrent .media-list {
    margin-left: 140px;
  }

  .post-comment .pull-left img{
    margin-right: 10px;
  }

  .single-blog.two-column .post-overlay{
    margin-top: 0;
  }

  /* Portfolio */

  .project-name h2 {
    margin-top: 20px;
  }

  .portfolio-filter li a{
    padding: 0 15px;
  }

  /*Coming Soon CSS*/
  #coming-soon {
    padding-top: 0;
  }

  .coming-content {
    font-size: 16px;
    padding: 0;
  }

  .coming-content h1 {
    font-size: 27px;
  }

  #countdown li.angle-one:before,
  #countdown li.angle-one:after,
  #countdown li.angle-two:before,
  #countdown li.angle-two:after  {
    display: none;
  }

  #countdown {
    margin-bottom: 0;
    margin-top: 50px;
  }

  #countdown li {
    font-size: 18px;
    margin-right: 15px;
  }

  #countdown li span {
    font-size: 35px;
    margin-bottom:5px;
  }

  #subscribe h2 {
    font-size: 16px;
  }

  #countdown li.angle-two span {
    padding-top: 0;
  }

  #countdown li.angle-one span.minutes {
    margin-left: 0;
  }

  #subscribe {
    font-size: 14px;
    text-align: center;
  }

  #newsletter .form-control {
    font-size: 14px;
    height: 40px
  }

  #newsletter i {
    font-size: 25px;
  }

  #countdown li.angle-one span.minutes,
  #countdown li.angle-one .minute {
    margin-left: 0
  }

  /* Contact-us2 CSS*/
  #map-section .contact-info {
    width: 51%;
    padding: 20px;
  }

  #gmap {
    height: 310px;
  }

  #contact-form .btn-submit {
    width:50%;
  }

  #map-section .contact-info h2 {
    font-size: 20px;
  }

  #map-section .contact-info address {
    font-size: 14px;
  }


  /* 404 error CSS*/
  #error-page {
    padding: 50px 25px;
  }

  #error-page h2 {
    font-size: 24px;
  }

  .btn-error {
    font-size: 13px;
    padding: 12px 18px;
  }
}

@media only screen and (max-width : 480px) {



  /* Pricing Table*/

  .single-price, .single-table {
    margin-bottom: 35px;
  }

  .single-price .plan-price {
    height: 110px;
    padding-top: 7px;
  }

  .single-price .plan-price:after {
    border-width: 110px;
    margin-left: -110px;
  }

  .single-table:before {
    border-width: 0 145px 60px;
  }

  .single-table .btn-signup:after {
    border-width: 78px 145px 0;
  }

  /*Coming Soon CSS*/
  #coming-soon {
    padding-top: 0;
  }

  .coming-content {
    font-size: 16px;
    padding: 0;
  }

  .coming-content h1 {
    font-size: 27px;
  }

  #countdown li.angle-one:before,
  #countdown li.angle-one:after,
  #countdown li.angle-two:before,
  #countdown li.angle-two:after  {
    display: none;
  }

  #countdown {
    margin-bottom: 0;
    margin-top: 50px;
  }

  #countdown li {
    font-size: 18px;
    margin-right: 15px;
  }

  #countdown li span {
    font-size: 35px;
    margin-bottom:5px;
  }

  #subscribe h2 {
    font-size: 16px;
  }

  #countdown li.angle-two span {
    padding-top: 0;
  }

  #countdown li.angle-one span.minutes {
    margin-left: 0;
  }

  #subscribe {
    font-size: 14px;
    text-align: center;
  }

  #newsletter .form-control {
    font-size: 14px;
    height: 40px
  }

  #newsletter i {
    font-size: 25px;
  }

  #countdown li.angle-one span.minutes,
  #countdown li.angle-one .minute {
    margin-left: 0
  }

  /* Contact-us2 CSS*/

  #map-section .contact-info {
    width: 100%;
  }

  #gmap {
    height: 390px;
  }

  #contact-form .btn-submit {
    width: 60%;
  }

  /* 404 error CSS*/

  #error-page {
    padding: 50px 25px;
  }

  #error-page h2 {
    font-size: 24px;
  }

  .btn-error {
    font-size: 10px;
    padding: 12px 11px;
  }
}