.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.panel-body > *:last-child {
  margin-bottom: 0;
}
.navbar-brand.logo img {
  display: block;
  max-height: 60px;
  max-width: 100%;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 480px) {
  .navbar-brand.logo {
    max-width: 75%;
  }
}
.navbar .sub-menu .divider {
  display: block;
  border-top: 1px solid #EEE;
  margin: 10px 0;
}
.panel-footer .pagination {
  display: block;
  margin: 0;
}
.panel-footer .pagination > li > a,
.panel-footer .pagination > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.panel-footer .pagination > li:first-child > a,
.panel-footer .pagination > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-footer .pagination > li:last-child > a,
.panel-footer .pagination > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.page-header {
  margin-top: 0;
}
#home-slider .main-slider {
  height: 260px;
}
#home-slider .main-slider .slide-text {
  top: 0;
}
.social-icons-left ul li {
  padding: 0 1em 1em 0;
}
.social-icons-left ul li + li {
  margin-left: 0;
}
.social-icons a.facebook:hover {
  color: #3b5998;
}
.social-icons a.twitter:hover {
  color: #55acee;
}
.social-icons a.google-plus:hover {
  color: #dd4b39;
}
.social-icons a.instagram:hover {
  color: #405de6;
}
.social-icons a.linkedin:hover {
  color: #0077b5;
}
.social-icons a.github:hover {
  color: #333333;
}
.social-icons a.gitlab:hover {
  color: #fc6d26;
}
/*# sourceMappingURL=public.css.map */