@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
.chart-legend,
.contacts-list,
.users-list,
.mailbox-attachments {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box-comments .box-comment img,
.user-block.user-block-sm img {
  float: left;
}
.box-comments .box-comment img,
.user-block.user-block-sm img {
  width: 30px !important;
  height: 30px !important;
}
@media print {
  .main-sidebar,
  .left-side,
  .main-header,
  .content-header {
    display: none !important;
  }
}
.login-page .login-box .login-logo img {
  max-width: 200px;
  max-height: 120px;
  width: auto;
  height: auto;
}
.login-page .login-box h3 {
  margin-top: 0;
}
.main-header .logo.econf {
  font-family: inherit;
}
.main-header .logo.econf img {
  display: block;
  max-width: 180px;
  max-height: 30px;
  width: auto;
  height: auto;
  margin: 10px auto;
}
.people-list .user-block {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.people-list .user-block:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.box-tools .pagination {
  margin: 0;
}
@media (min-width: 768px) {
  .text-sm-right {
    text-align: right;
  }
}
.small-box {
  overflow: hidden;
}
.settings-logo img {
  max-width: 120px;
  max-height: 4.8em;
  width: auto;
  height: auto;
}
.settings-logo.white {
  background-color: #0073b7;
}
.settings-icon img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}
.main-header .logo img {
  max-width: 230px;
  max-height: 34px;
  margin: 8px auto;
  display: block;
}
.main-header .logo.logo-color {
  background-color: white;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.main-header .logo.logo-color:hover {
  background-color: #fcfcfc;
}
textarea.form-control {
  resize: vertical;
}
.koala-box .form-group {
  margin-bottom: 0;
}
.koala-box .ke-toolbar {
  border: none;
  border-bottom: 1px solid #f4f4f4;
  background: transparent;
}
.koala-box .ke-toolbar .sep {
  background: #f4f4f4;
}
.koala-box .ke-toolbar .ke-toolbar-button {
  color: #97a0b3;
}
.koala-box .ke-toolbar .ke-toolbar-button:hover,
.koala-box .ke-toolbar .ke-toolbar-button.active {
  color: #606c84;
  background: transparent;
}
.koala-box .ke-editor {
  border: none;
}
.popover {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.table tbody > tr > td.vert-align {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */