/*
 * Skin: Generic
 * ---------
 */
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";
@import "admin-lte/variables.less";
@import "admin-lte/mixins.less";

@color: #0099ff;

.skin-custom {
  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(@color; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(@color, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(@color, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      .logo-variant(darken(@color, 5%));
    }

    li.user-header {
      background-color: @color;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(@color);

  .settings-logo.white{
    background-color: @color;
  }
}