

@bc-facebook: #3b5998;

@bc-github: #4183c4;
@bc-github-2: #999999;
@bc-github-3: #666666;
@bc-github-4: #333333;
@bc-github-5: #6cc644;
@bc-github-6: #bd2c00;
@bc-github-7: #ff9933;

@bc-gitlab: #fca326;
@bc-gitlab-2: #fc6d26;
@bc-gitlab-3: #e24329;
@bc-gitlab-4: #554488;

@bc-google-plus: #dd4b39;

@bc-instagram: #405de6;
@bc-instagram-2: #5851db;
@bc-instagram-3: #833ab4;
@bc-instagram-4: #c13584;
@bc-instagram-5: #e1306c;
@bc-instagram-6: #fd1d1d;
@bc-instagram-7: #f56040;
@bc-instagram-8: #f77737;
@bc-instagram-9: #fcaf45;
@bc-instagram-10: #ffdc80;

@bc-linkedin: #0077b5;
@bc-linkedin-2: #000000;
@bc-linkedin-3: #313335;
@bc-linkedin-4: #86888a;
@bc-linkedin-5: #caccce;
@bc-linkedin-6: #00a0dc;
@bc-linkedin-7: #8d6cab;
@bc-linkedin-8: #dd5143;
@bc-linkedin-9: #e68523;

@bc-twitter: #55acee;