@import (reference) '../bower_components/bootstrap/less/bootstrap.less';

@import 'brandcolors';

.panel-body > *:last-child{
  margin-bottom: 0;
}

.navbar-brand.logo{
  //padding: 8px 15px;
  img{
    display: block;
    max-height: 60px;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  @media only screen and (max-width : 480px) {
    max-width: 75%;
  }
}

.navbar .sub-menu .divider{
  display: block;
  border-top: 1px solid #EEE;
  margin: 10px 0;
}

.panel-footer .pagination{
  .pagination-sm;
  display: block;
  margin: 0;
}

.page-header{
  margin-top: 0;
}

#home-slider .main-slider{
  height: 260px;

  .slide-text{
    top: 0;
  }
}

.social-icons-left{
  ul {
    li{
      padding: 0 1em 1em 0;
      & + li {
        margin-left: 0;
      }
    }
  }
}

.social-icons{
  a.facebook:hover{
    color: @bc-facebook;
  }
  a.twitter:hover{
    color: @bc-twitter;
  }
  a.google-plus:hover{
    color: @bc-google-plus;
  }
  a.instagram:hover{
    color: @bc-instagram;
  }
  a.linkedin:hover{
    color: @bc-linkedin;
  }
  a.github:hover{
    color: @bc-github-4;
  }
  a.gitlab:hover{
    color: @bc-gitlab-2;
  }
}