@import (reference) '../components/admin-lte/build/less/AdminLTE';

.login-page .login-box {
  .login-logo img{
    max-width: 200px;
    max-height: 120px;
    width: auto;
    height: auto;
  }

  h3{
    margin-top: 0;
  }
}

.main-header{
  .logo.econf{
    font-family: inherit;
    img{
      display: block;
      max-width: 180px;
      max-height: 30px;
      width: auto;
      height: auto;
      margin: 10px auto;
    }
  }
}

.people-list{
  .user-block{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;

    &:last-child{
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom:none;
    }
  }
}

.box-tools .pagination{
  margin: 0;
}

@media (min-width: @screen-sm-min) {
  .text-sm-right {
    text-align: right;
  }
}

.small-box{
  overflow: hidden;
}

.settings-logo img{
  max-width: 120px;
  max-height: 4.8em;
  width: auto;
  height: auto;
}

.settings-logo.white{
  background-color: @blue;
}

.settings-icon img{
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}

.main-header .logo{
  img{
    @margin: 8px;
    max-width: @sidebar-width;
    max-height: @navbar-height - (@margin * 2);
    margin: @margin auto;
    display: block;
  }
  &.logo-color{
    .logo-variant(white);
  }
}

textarea.form-control{
  resize: vertical;
  //min-height: 3em;
}

.koala-box{
  .form-group{
    margin-bottom: 0;
  }
  .ke-toolbar{
    border: none;
    border-bottom: 1px solid @box-border-color;
    background: transparent;
    .sep{
      background: @box-border-color;
    }
    .ke-toolbar-button{
      color: darken(@box-default-border-top-color, 20%);

      &:hover, &.active{
        color: darken(@box-default-border-top-color, 40%);
        background: transparent;
      }
    }
  }
  .ke-editor{
    border: none;
  }
}

.popover{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.table tbody>tr>td.vert-align{
  vertical-align: middle;
}