@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background: #ffffff;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
html {
  height: 100%;
}
a {
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -webkit-transition: 300ms;
  color: #4b626d;
  transition: 300ms;
}
a:hover {
  color: #99aeb8;
  outline: none;
  text-decoration: none;
}
a:focus {
  outline-offset: 0;
  outline: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
h1 {
  color: #686868;
}
h2 {
  color: #686868;
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
.overflow {
  overflow: hidden;
}
.uppercase {
  text-transform: uppercase;
}
.btn-common {
  border: 1px solid #8aa2ae;
  color: #797979;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 25px;
}
.btn-common:hover {
  background: none;
  box-shadow: none;
  color: #607d8b;
  outline: none;
}
.btn-common:focus {
  background: none;
  box-shadow: none;
  color: #607d8b;
  outline: none;
}
#action {
  background-color: #f4f6f7;
  background-image: url(../images/home/tour-bg.png);
  background-position: center;
  background-repeat: repeat-x;
  display: table;
  height: 155px;
  position: relative;
  position: static;
  width: 100%;
}
#action .col-sm-5 {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.align-right {
  text-align: right;
}
.inline {
  display: inline-block;
}
.padding {
  padding: 65px 0;
}
.padding-bottom {
  padding-bottom: 65px;
}
.padding-top {
  padding-top: 90px;
}
.padding-right {
  padding-right: 80px;
}
.padding-left {
  padding-left: 80px;
}
.margin-bottom {
  margin-bottom: 35px;
}
.carousel-indicators.visible-xs {
  height: 20px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -35px;
  width: 100%;
}
.carousel-indicators.visible-xs li {
  border-color: #607d8b;
  border-width: 2px;
  height: 12px;
  margin: 0 5px 0 0;
  width: 12px;
}
.carousel-indicators.visible-xs li.active {
  background: rgba(210, 153, 72, 0.7);
}
#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0;
}
#header .navbar-inverse .container {
  position: relative;
}
#header .navbar-inverse .navbar-nav li a:hover {
  color: #607d8b;
}
#header .navbar {
  background: #ffffff;
  border: 0;
  margin-bottom: 0;
}
#header .navbar-toggle {
  margin-top: 20px;
}
#header .navbar-brand {
  margin-left: 0;
  padding: 0;
}
#header .navbar-brand h1 {
  margin: 0;
  padding: 0;
}
#header .navbar-nav.navbar-right > li:last-child {
  margin-right: 20px;
}
#header .navbar-nav.navbar-right > li a {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  padding: 20px;
  text-transform: uppercase;
}
#header .navbar-nav li ul.sub-menu li a {
  color: #818285;
  display: block;
  font-size: 13px;
  padding: 5px 0;
  text-transform: capitalize;
}
#header .navbar-nav li ul.sub-menu li a:hover {
  background: #fafbfb;
  color: #607d8b;
}
#header .navbar-nav li ul.sub-menu li a:focus {
  background: #fafbfb;
  color: #607d8b;
}
#header .navbar-nav li ul.sub-menu li .active {
  background: #fafbfb;
  color: #607d8b;
  position: relative;
}
#header .navbar-nav li ul.sub-menu li .active i {
  color: #99aeb8;
  font-size: 56px;
  position: absolute;
  top: -13px;
}
#header .navbar-nav li ul.sub-menu li .active .fa-angle-right {
  left: -3px;
}
#header .navbar-nav li ul.sub-menu li .active .fa-angle-left {
  right: -3px;
}
.search {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1;
}
.search i {
  color: #8aa2ae;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 2px;
}
.field-toggle {
  display: none;
  height: 50px;
  position: relative;
  right: 15px;
  top: 30px;
}
.search-form {
  border-radius: 4px;
  border: 1px solid #8aa2ae;
  color: #818285;
  font-size: 18px;
  font-weight: 300;
  height: 40px;
  margin-top: 20px;
  outline: none;
  padding-left: 10px;
}
.social-icons ul li {
  padding: 0 10px;
}
.social-icons ul li:last-child {
  padding-right: 0;
}
.social-icons ul li a {
  color: #d3d3d3;
  font-size: 18px;
  padding: 0;
}
.social-icons ul li a:hover {
  background: none;
  color: #8aa2ae;
}
.social-icons ul li a:focus {
  background: none;
  color: #8aa2ae;
}
#header .navbar-inverse .navbar-nav li.active > a,
#header .navbar-inverse .navbar-nav li.active > a:focus,
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #607d8b;
}
ul.sub-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.fa-angle-down {
  padding-left: 5px;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
#footer {
  padding-bottom: 75px;
}
#footer h1 {
  margin-bottom: 65px;
  margin-top: 36px;
}
#footer .bottom-separator {
  margin-bottom: 60px;
}
#message {
  height: 110px;
  resize: none;
}
.bottom > h2 {
  margin-bottom: 26px;
  margin-top: 0;
}
.bottom .media-body h3 {
  margin-top: 0;
  padding-left: 25px;
}
.bottom .media-body h3 a {
  color: #6e8d9b;
}
.testimonial .media {
  margin-bottom: 25px;
  margin-top: 0;
}
.testimonial .media .media-body blockquote {
  border-left: 0;
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 30px;
  position: relative;
}
.testimonial .media .media-body blockquote:before {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #6e8d9b;
  content: '"';
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  left: 5px;
  line-height: 0;
  position: absolute;
  top: 8px;
  transform: rotate(180deg);
}
.testimonial .media .media-body blockquote:after {
  bottom: 14px;
  color: #6e8d9b;
  content: '"';
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  line-height: 0;
  position: absolute;
  right: 30px;
}
.testimonial .media > .pull-left {
  margin-right: 25px;
}
.testimonial .media > .pull-left img {
  margin-top: 6px;
}
.bottom > address {
  line-height: 22px;
  margin-bottom: 40px;
}
.form-control {
  border: 1px solid #6e8d9b;
  box-shadow: none;
  font-weight: 300;
  height: 40px;
  outline: none;
}
.form-control:hover {
  border-color: #607d8b;
  box-shadow: none;
  outline: none;
}
.form-control:focus {
  border-color: #607d8b;
  box-shadow: none;
  outline: none;
}
.btn-submit {
  background-color: #607d8b;
  border-bottom: 3px solid #a56617;
  border-radius: 3px;
  box-shadow: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 5px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}
.btn-submit:hover {
  box-shadow: none;
  color: #ffffff;
  opacity: .8;
  outline: none;
}
.btn-submit:focus {
  box-shadow: none;
  color: #ffffff;
  opacity: .8;
  outline: none;
}
.copyright-text {
  margin-top: 70px;
}
#home-slider {
  background: url(../images/home/slider-bg.png) 0 100% repeat-x;
  position: relative;
}
#home-slider .main-slider {
  height: 260px;
  position: relative;
}
#home-slider .slide-text {
  left: 0;
  position: absolute;
  top: 0;
  width: 450px;
}
#home-slider h1 {
  margin-bottom: 25px;
  margin-top: 70px;
}
#home-slider .btn-common {
  margin-top: 20px;
}
#page-breadcrumb {
  background-color: #f4f6f7;
  background-image: url(../images/home/tour-bg.png);
  background-position: center;
  background-repeat: repeat-x;
  display: table;
  padding: 40px 0;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#page-breadcrumb .icon {
  position: absolute;
  font-size: 10em;
  top: -1rem;
  right: 2rem;
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  color: #7b96a3;
}
#page-breadcrumb .action {
  position: relative;
}
.vertical-center {
  display: table-cell;
  position: static;
  vertical-align: middle;
  width: 100%;
}
.single-service {
  display: block;
  overflow: hidden;
}
.single-service img {
  height: 85px;
  margin-bottom: 35px;
}
.single-service .fold {
  margin-bottom: 35px;
}
.single-service h2 {
  margin-bottom: 15px;
  margin-top: 0;
}
.single-service p {
  padding: 0 48px;
}
.action h1 {
  margin: 0;
}
.action p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}
.action .btn-common {
  float: left;
  margin-top: 55px;
}
.title {
  color: #404040;
  font-weight: 300;
}
.single-features {
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 65px;
}
.single-features:last-child {
  padding-bottom: 95px;
}
.single-features h2 {
  margin-bottom: 15px;
}
#clients {
  padding-bottom: 45px;
}
.clients {
  margin-bottom: 45px;
}
.clients img {
  display: inline-block;
}
.clients-logo {
  margin-bottom: 10px;
  overflow: hidden;
}
#team {
  padding: 85px 0;
}
#team-carousel {
  margin-top: 80px;
}
#company-information .padding-top {
  padding-top: 105px;
}
#company-information .about-us h2 {
  margin-bottom: 45px;
}
#company-information h2 {
  margin-bottom: 25px;
  margin-top: 0;
}
#company-information h1.margin-bottom {
  margin-bottom: 26px;
}
.tour-button {
  background-position: 151px 4px;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
.team-single {
  position: relative;
}
.team-single:hover .social-profile {
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -webkit-animation: fadeInUp 400ms;
  -webkit-transition: all 0.9s ease;
  animation: fadeInUp 400ms;
  display: block;
  transition: all 0.9s ease;
}
.person-thumb {
  position: relative;
}
.social-profile {
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  background: none repeat scroll 0 0 rgba(137, 97, 46, 0.8);
  display: none;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.9s ease;
  width: 100%;
}
.social-profile .nav-pills {
  display: inline-block;
  margin-top: -26px;
  padding: 0;
  position: relative;
  top: 50%;
}
.social-profile .nav-pills li {
  display: inline-block;
  margin: 0 5px;
}
.social-profile .nav-pills li a {
  -webkit-transition: all 0.9s ease;
  border-radius: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  transition: all 0.9s ease;
  width: 40px;
}
.social-profile .nav-pills li a:hover {
  border-color: #36474f;
  color: #36474f;
}
.person-info h2 {
  font-weight: 300;
  margin-bottom: 5px;
}
.person-info h3 {
  color: #686868;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
.team-carousel-control {
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  height: 16px;
  position: absolute;
  text-indent: -9999999px;
  top: 36%;
  transition: all 0.9s ease;
  width: 13px;
}
.team-carousel-control:hover {
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  background-position: 0 -18px;
  transition: all 0.5s ease 0s;
}
.right.team-carousel-control {
  background-image: url(../images/aboutus/right.png);
  right: -50px;
}
.left.team-carousel-control {
  background-image: url(../images/aboutus/left.png);
  left: -50px;
}
.count h1 {
  color: #99aeb8;
  font-size: 60px;
}
.count h3 {
  font-size: 16px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 30px;
}
.progress .progress-bar.six-sec-ease-in-out {
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
.top-zero {
  margin-top: 0;
}
h3.top-zero {
  font-size: 20px;
}
.single-skill h3 {
  font-size: 16px;
}
.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 30px;
}
.progress-bar.progress-bar-primary {
  background: #99aeb8;
}
#recent-projects {
  padding: 85px 0;
}
.recent-projects .team-single {
  height: 355px;
}
.recent-projects p.padding-bottom {
  padding-bottom: 50px;
}
.choose {
  padding-top: 30px;
}
#company-information.choose .padding-top {
  padding-top: 78px;
}
ul.elements {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
ul.elements li {
  margin: 6px 0;
}
ul.elements li > i {
  color: #607d8b;
  display: inline-block;
  margin-right: 10px;
}
.pagination li a:hover,
.pagination .active a,
.pagination .active a:hover,
.pagination .active a:focus {
  background: none;
  border-color: #7b96a3;
  color: #7b96a3;
}
.sidebar h3 {
  border-bottom: 3px solid #ececec;
  color: #404040;
  margin-bottom: 6px;
  margin-top: 0;
  padding-bottom: 8px;
}
.sidebar-item {
  margin-bottom: 48px;
}
.sidebar-item .media {
  -webkit-transition: all 0.3s ease 0s;
  border-bottom: 1px solid #ececec;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 21px;
  transition: all 0.3s ease 0s;
}
.sidebar-item .media:last-child {
  border-bottom: 0px solid #ececec;
  padding-bottom: 0;
}
.sidebar-item .media:hover {
  -webkit-transition: all 0.3s ease 0s;
  border-left: 2px solid #99aeb8;
  padding-left: 5px;
  transition: all 0.3s ease 0s;
}
.sidebar-item .media:hover.media .media-body h4 a {
  -webkit-transition: all 0.3s ease 0s;
  color: #99aeb8;
  transition: all 0.3s ease 0s;
}
.sidebar-item .media .media-body h4 {
  margin-bottom: 8px;
  margin-top: 0;
}
.sidebar-item .media .media-body h4 a {
  color: #7d7d7d;
  font-size: 16px;
}
.sidebar-item .media .media-body p {
  color: #b4b4b4;
  font-size: 12px;
}
.categories .navbar-stacked li {
  border-bottom: 1px solid #ececec;
}
.categories .navbar-stacked li:last-child {
  border-bottom: 0px solid #ececec;
}
.categories .navbar-stacked li a {
  color: #6a6a6a;
  font-size: 16px;
  padding-left: 0;
  padding: 8px 0;
}
.categories .navbar-stacked li a:hover {
  background: none;
  color: #99aeb8;
  margin-left: 20px;
  opacity: 1;
}
.categories .navbar-stacked li.active a {
  color: #99aeb8;
  padding-left: 20px;
}
.categories .navbar-stacked li.active a:before {
  -webkit-transition: all 0.3s ease 0s;
  border-color: transparent transparent transparent #99aeb8;
  border-style: solid;
  border-width: 8px;
  content: "";
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 13px;
  transition: all 0.3s ease 0s;
  z-index: 0;
}
.categories .navbar-stacked li.active a:after {
  -webkit-transition: all 0.3s ease 0s;
  border-color: transparent transparent transparent #ffffff;
  border-style: solid;
  border-width: 6px;
  content: "";
  left: 0px;
  margin-top: 0;
  position: absolute;
  top: 15px;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.tag-cloud .nav-pills {
  margin-top: 16px;
}
.tag-cloud .nav-pills li {
  margin-right: 4px;
  margin-top: 6px;
  margin: 0;
}
.tag-cloud .nav-pills li a {
  background: #bbbbbb;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 15px;
}
.tag-cloud .nav-pills li a:hover {
  background: #99aeb8;
}
.popular ul.gallery {
  list-style: none;
  margin: 0;
  margin: 10px -8px;
  padding: 0;
}
.popular ul.gallery li {
  display: block;
  float: left;
  padding: 8px;
  width: 33.33%;
}
.popular ul.gallery li a {
  display: block;
}
.popular ul.gallery li a img {
  -webkit-transition: border-radius 300ms ease-in;
  transition: border-radius 300ms ease-in;
  width: 100%;
}
.popular ul.gallery li a img:hover {
  border-radius: 60px;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope {
  -moz-transition-duration: 0.8s;
  -moz-transition-property: height, width;
  -ms-transition-duration: 0.8s;
  -ms-transition-property: height, width;
  -o-transition-duration: 0.8s;
  -o-transition-property: height, width;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-property: height, width;
  transition-duration: 0.8s;
  transition-property: height, width;
}
.isotope .isotope-item {
  -moz-transition-duration: 0.8s;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-duration: 0.8s;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-duration: 0.8s;
  -o-transition-property: -o-transform, opacity;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-duration: 0.8s;
  transition-property: transform, opacity;
}
.isotope .isotope-item.no-transition {
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.isotope.no-transition {
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.isotope.no-transition .isotope-item {
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
#portfolio-information.padding-top {
  padding-top: 100px;
}
.project-name h2 {
  margin-bottom: 15px;
  margin-top: 0;
}
#related-work .title {
  margin-bottom: 55px;
  margin-top: 10px;
}
.navbar-default {
  background: none;
  padding: 0;
}
.navbar-default li a {
  font-size: 12px;
  padding-right: 15px;
  padding: 0;
}
.navbar-default li a i {
  padding-right: 8px;
}
.navbar-default li a:hover {
  background: none;
  color: #99aeb8;
}
.skills .navbar-default {
  margin-left: 35px;
}
.client .navbar-default {
  margin-left: 35px;
}
.live-preview .btn-common {
  margin-top: 21px;
  padding: 13px 45px;
}
.single-blog.timeline {
  background: #ffffff;
  border-bottom: 0;
  border: 1px solid #eeeeee;
  padding-bottom: 0;
  position: relative;
}
.timeline .post-content {
  padding: 20px 20px 0;
}
.timeline .post-thumb img {
  width: 100%;
}
.post-thumb {
  margin: -1px -1px 0;
  overflow: hidden;
  position: relative;
}
.post-thumb iframe {
  border: 0;
  min-height: 270px;
  width: 100%;
}
.post-overlay {
  display: none;
  height: 140px;
  margin-top: -70px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 94px;
}
.post-overlay span {
  -webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
  bottom: 0;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 9;
}
.post-overlay span:before {
  border-color: transparent transparent #99aeb8 transparent;
  border-style: solid;
  border-width: 60px;
  bottom: 0;
  content: "";
  cursor: initial;
  position: absolute;
  z-index: -1;
}
.post-overlay span a {
  background: transparent;
  color: #ffffff;
  font-size: 30px;
  margin-left: 50px;
  padding: 0;
}
.single-blog {
  padding-bottom: 30px;
}
.single-blog:hover .post-overlay {
  -webkit-animation: fadeIn 300ms;
  animation: fadeIn 300ms;
  display: block;
}
.single-blog .post-bottom {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  padding-top: 10px;
}
.single-blog .post-overlay span {
  -webkit-animation: fadeInLeft 400ms;
  animation: fadeInLeft 400ms;
  background: url(../images/blog/blog-arrow.png);
  height: 140px;
  left: 0;
  margin-left: 0;
  top: 0;
  width: 94px;
}
.single-blog .post-overlay span a {
  font-size: 36px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 8px;
  position: absolute;
  top: 50px;
}
.single-blog .post-overlay span a small {
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
}
.single-blog .post-overlay span:before {
  border-color: transparent;
  border-width: 0;
}
.timeline-divider {
  padding-top: 50px;
  position: relative;
}
.timeline-divider:before {
  border-left-color: #99aeb8;
  border-left-style: solid;
  border-left-width: 1px;
  content: "";
  height: 100%;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: 0;
}
.timeline-blog .col-sm-6.padding-top {
  padding-top: 70px;
}
.post-content {
  padding: 20px 0;
}
.post-content .post-author {
  margin-top: 0;
}
.post-content .post-author a {
  font-size: 14px;
  font-weight: 300;
}
.timeline-date .btn-common {
  border-radius: 0;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 300;
  padding: 17px 40px;
}
.arrow-right {
  position: relative;
}
.arrow-right:after {
  background: url(../images/blog/left.png);
  content: "";
  height: 54px;
  position: absolute;
  right: 1px;
  top: 15px;
  width: 43px;
}
.arrow-left {
  position: relative;
}
.arrow-left:before {
  background: url(../images/blog/right.png);
  content: "";
  height: 54px;
  left: -2px;
  position: absolute;
  top: 86px;
  width: 43px;
}
.post-title {
  margin-top: 0;
}
.post-title a {
  color: #686868;
}
.post-title a:hover {
  color: #99aeb8;
}
.comments-number a {
  color: #686868;
}
.comments-number a:hover {
  color: #99aeb8;
}
a.read-more {
  color: #4b626d;
  font-weight: 300;
}
a.read-more:hover {
  opacity: .8;
}
.post-bottom {
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
  margin: 20px -20px 0;
  padding-top: 10px;
  padding: 20px 20px 0;
}
.post-nav {
  margin: 0;
  padding: 0;
}
.post-nav li a {
  padding: 0;
  text-align: left;
}
.post-nav li a i {
  color: #99aeb8;
  margin-right: 8px;
}
.post-nav li a:hover {
  background: none;
}
.blog-padding-right {
  padding-right: 35px;
}
.blog-pagination {
  padding-bottom: 55px;
  padding-top: 10px;
  text-align: center;
}
.masonery_area .single-blog .post-thumb {
  height: auto;
}
.masonery_area .single-blog .post-thumb img {
  height: auto;
}
.masonery_area .single-blog .post-title {
  margin-top: 5px;
}
.masonery_area .single-blog .post-title a {
  font-size: 20px;
}
.masonery_area .single-blog .post-bottom {
  border-top: 0;
  margin-top: 15px;
  padding-top: 0;
}
.audiojs {
  background: #99aeb8;
  height: 45px;
  width: 100%;
}
.audiojs .scrubber {
  background: #ffffff;
  border-radius: 10px;
  border-top: 0;
  height: 8px;
  margin-left: 12px;
  margin-top: 19px;
  width: 170px;
}
.audiojs .play-pause {
  background: #cca46c;
  border-right: 0;
  height: 45px;
  padding-left: 24px;
  padding-top: 10px;
  padding: 0;
  width: 68px;
}
.audiojs .time {
  display: none;
}
.audiojs .progress {
  background: #4b626d;
  border-radius: 10px;
  height: 8px;
}
.audiojs .loaded {
  background: #ba9663;
  border-radius: 10px;
  height: 8px;
}
.navbar-nav.post-nav li {
  margin-right: 60px;
}
.single-blog.blog-details .post-content {
  padding-top: 30px;
}
.single-blog.blog-details .post-bottom {
  margin-top: 55px;
}
.single-blog-wrapper {
  position: relative;
}
.blog-share {
  display: inline-block;
  margin-top: 40px;
  padding: 0;
}
span.stMainServices {
  height: 24px !important;
}
span.stButton_gradient {
  height: 24px !important;
}
.stButton .chicklets {
  height: 24px !important;
}
.author-profile.padding {
  padding-top: 50px;
}
.author-profile .col-sm-2 img {
  border-left: 3px solid #99aeb8;
  width: 100%;
}
.author-profile h3 {
  color: #3a424c;
  margin-top: 0;
}
.author-profile p {
  color: #3a424c;
  font-weight: 400;
}
.author-profile span a {
  color: #4b626d;
}
.response-area {
  border-bottom: 0;
}
.response-area h2 {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
}
.post-comment {
  border-top: 1px solid #f1e8dd;
  padding-left: 70px;
  padding-top: 36px;
}
.post-comment .pull-left img {
  border-left: 3px solid #99aeb8;
  margin-right: 60px;
}
.post-comment .media-body {
  border-bottom: 0;
  padding-bottom: 50px;
  padding-top: 6px;
}
.post-comment .media-body p {
  margin-top: 10px;
}
.post-comment .media-body span i {
  color: #4b626d;
  margin-right: 10px;
}
.post-comment .media-body span a {
  color: #4b626d;
  font-weight: 700;
}
.post-comment .media-body .post-nav li a {
  font-weight: 300;
}
.parrent .media-list {
  margin-left: 190px;
}
.parrent .post-comment {
  margin-left: 70px;
  padding-left: 0;
}
#map-section {
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}
#map-section .contact-info {
  background-color: #ffffff;
  height: 100%;
  opacity: 0.9;
  padding: 25px 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 33%;
}
#map-section .contact-info h2 {
  color: #4b626d;
}
#map-section address a:hover {
  color: #4b626d;
}
#gmap {
  height: 350px;
}
.get-in-touch img {
  margin-bottom: 32px;
  margin-top: 35px;
}
.get-in-touch p {
  font-size: 18px;
  font-weight: 300;
}
#contact-form #message {
  resize: none;
}
#contact-form .btn-submit {
  margin: 5px auto;
  width: 28%;
}
.corporate-info .corporate-address {
  background-position: left top;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 50px;
}
.corporate-info .corporate-address address {
  background-image: url("../images/icon-map.png");
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
}
#price-table {
  margin-bottom: 90px;
  margin-top: 88px;
}
.single-price ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.single-price ul li {
  background-color: #f7f7f7;
  color: #696969;
  margin-bottom: 5px;
  padding: 12px 18px;
}
.single-price ul li span {
  float: right;
}
.single-price .plan-name {
  background-color: #D4D4D4;
  color: #696969;
  font-size: 20px;
  margin-bottom: 0;
  padding: 10px 0;
  text-transform: capitalize;
}
.single-price .plan-price {
  color: #696969;
  float: none;
  font-size: 14px;
  height: 110px;
  margin-bottom: 15px;
  overflow: hidden;
  padding-top: 15px;
  position: relative;
  z-index: 5;
}
.single-price .plan-price:after {
  border-color: #c4c4c4 transparent transparent;
  border-style: solid;
  border-width: 110px;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -110px;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
}
.single-price .btn-buynow {
  background-color: #c4c4c4;
  border-radius: 0;
  color: #ffffff;
  display: block;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 12px;
  text-transform: uppercase;
}
.single-price .btn-buynow:hover {
  background-color: #b4b3b3;
}
.table-heading {
  background-color: transparent !important;
  color: #ffffff !important;
  overflow: hidden;
  padding: 0 !important;
  text-align: center;
}
.plan-price .dollar-sign {
  font-size: 18px;
}
.plan-price .price {
  font-size: 24px;
}
.plan-price .month {
  display: block;
  margin-top: -6px;
}
.single-table {
  padding-top: 60px;
  position: relative;
}
.single-table ul {
  margin: 0;
  padding: 0;
}
.single-table ul li {
  background-color: #f7f7f7;
  color: #696969;
  margin-bottom: 5px;
  padding: 12px 18px;
}
.single-table ul li span {
  float: right;
}
.single-table:before {
  border-color: transparent transparent #b5b5b5;
  border-style: solid;
  border-width: 0 130px 60px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.single-table .btn-signup {
  display: block;
  position: relative;
  text-align: center;
  z-index: 1;
}
.single-table .btn-signup:after {
  border-color: #c4c4c4 transparent transparent;
  border-style: solid;
  border-width: 78px 130px 0;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -1px;
  width: 100%;
  z-index: -1;
}
.single-table .btn-signup a {
  color: #696969;
  display: inline-block;
  letter-spacing: 3px;
  overflow: hidden;
  padding: 20px 0 0 0;
  text-transform: uppercase;
}
.single-table .btn-signup:hover a {
  color: #ffffff;
}
.single-table .btn-signup:hover.btn-signup:after {
  border-color: #b3b2b2 transparent transparent;
}
.highligh-table .plan-name {
  background-color: #536d79;
  color: #ffffff;
}
.highligh-table .plan-price {
  color: #ffffff;
}
.highligh-table .plan-price:after {
  border-color: #4b626d transparent transparent;
}
.highligh-table .btn-buynow {
  background-color: #4b626d;
}
.highligh-table .btn-buynow:hover {
  background-color: #976a28;
}
.highligh-table .btn-signup a {
  color: #ffffff;
}
.highligh-table .btn-signup:after {
  border-color: #536d79 transparent transparent;
}
.highligh-table .table-header h2 {
  color: #ffffff;
}
.highligh-table .btn-signup.btn-signup:hover:after {
  border-color: #a07028 transparent transparent;
}
.highligh-table:before {
  border-color: transparent transparent #4b626d;
}
#price-table2 {
  margin-bottom: 180px;
}
.table-header {
  background-color: #c4c4c4;
  overflow: hidden;
  padding: 20px;
}
.table-header h2 {
  color: #696969;
  float: left;
  font-size: 24px;
  margin-top: 7px;
}
.table-header .plan-price {
  float: right;
  margin: 0;
  overflow: hidden;
  padding-top: 1px;
}
.single-table.highligh-table .table-header {
  background-color: #536d79;
}
#error-page {
  color: #686868;
  display: table;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  min-height: 100%;
  padding: 100px 0;
  width: 100%;
}
#error-page .container-fluid {
  overflow: hidden;
}
#error-page h2 {
  font-size: 36px;
  text-transform: uppercase;
}
#error-page i {
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 1px solid #7b96a3;
  color: #7b96a3;
  font-size: 17px;
  height: 40px;
  line-height: 40px;
  margin: 0 15px;
  transition: all 0.3s ease-in-out;
  width: 40px;
}
#error-page i:hover {
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #7b96a3;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.error-page-inner {
  display: table-cell;
  vertical-align: middle;
}
.bg-404 {
  background-image: url("../images/home/tour-bg.png");
  background-position: center top;
  background-repeat: repeat-x;
}
.error-image {
  display: inline-block;
  padding-bottom: 50px;
  padding-top: 50px;
}
.error-image img {
  width: 100%;
}
.btn-error {
  background-color: transparent;
  border: 1px solid #7b96a3;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 25px 55px;
  text-transform: uppercase;
}
.btn-error:hover {
  background-color: #7b96a3;
  border-color: #7b96a3;
  color: #ffffff;
}
.btn-error:focus {
  background-color: #7b96a3;
  border-color: #7b96a3;
  color: #ffffff;
}
#coming-soon {
  background-image: url("../images/home/tour-bg.png");
  background-position: center top;
  background-repeat: repeat-x;
  overflow: hidden;
  padding: 40px 0;
}
#coming-soon i {
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 1px solid #7b96a3;
  color: #7b96a3;
  font-size: 17px;
  height: 40px;
  line-height: 40px;
  margin: 0 15px;
  transition: all 0.3s ease-in-out;
  width: 40px;
}
#coming-soon i:hover {
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #7b96a3;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
#coming-soon .social-link {
  margin-top: 35px;
}
.logo-image {
  display: block;
  margin-bottom: 95px;
  margin-top: 80px;
  text-align: center;
}
.logo-image img {
  display: inline-block;
}
.time-count {
  display: block;
  text-align: center;
}
.time-count ul {
  padding-left: 0;
}
#countdown {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: 100px;
}
#countdown li {
  color: #757575;
  float: left;
  font-size: 30px;
  font-weight: 300;
  margin-right: 100px;
  padding-top: 45px;
  position: relative;
  z-index: 1;
}
#countdown li:last-child {
  margin-left: 20px;
  margin-right: 0;
}
#countdown li span {
  display: block;
  font-size: 72px;
  margin-bottom: 25px;
}
#countdown li.angle-one:before {
  border-color: #607d8b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 250px 145px 0;
  content: "";
  left: -80px;
  position: absolute;
  top: -5px;
  z-index: -1;
}
#countdown li.angle-one:after {
  border-color: #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 236px 137px 0;
  content: "";
  left: -72px;
  position: absolute;
  top: 0;
  z-index: -1;
}
#countdown li.angle-one span.minutes {
  margin-left: 25px;
}
#countdown li.angle-one .minute {
  margin-left: 25px;
}
#countdown li.angle-two:before {
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  border-color: rgba(0, 0, 0, 0) #4b626d rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 250px 290px 0 0;
  content: "";
  left: -175px;
  position: absolute;
  top: -5px;
  transform: skewX(30deg);
  z-index: -1;
}
#countdown li.angle-two:after {
  -moz-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  border-color: rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 235px 272px 0 0;
  content: "";
  left: -162px;
  position: absolute;
  top: 5px;
  transform: skewX(30deg);
  z-index: -1;
}
#countdown li.angle-two span {
  padding-top: 90px;
}
#subscribe {
  background-color: #565656;
  color: #ffffff;
  padding: 40px 0 50px;
}
#subscribe h2 {
  color: #ffffff;
  text-transform: uppercase;
}
#subscribe .fa-envelope-o {
  color: #99aeb8;
  margin-right: 5px;
}
#subscribe .form-control {
  background-color: transparent;
  color: #ffffff;
  height: 52px;
}
#newsletter {
  margin-top: 35px;
  position: relative;
}
#newsletter i {
  color: #99aeb8;
  font-size: 36px;
  position: absolute;
  right: 12px;
  top: 7px;
}
.newsletter p {
  color: #919191;
  font-size: 12px;
  margin-top: 10px;
}
#coming-soon-footer {
  line-height: 15px;
  overflow: hidden;
  padding: 45px 0;
}
#coming-soon-footer a {
  color: #607d8b;
}
#coming-soon-footer a:hover {
  color: #b38040;
}
.bs-example {
  margin: 0 0 20px;
}
.panel-group {
  border: 1px solid #eeeeee;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-group .panel-default:first-child > .panel-heading {
  border-top: 0;
}
.panel-default > .panel-heading {
  background-color: transparent;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #eeeeee;
}
.nav-pills > li.active > a {
  background-color: #99aeb8;
}
.nav-pills > li.active > a:hover {
  background-color: #99aeb8;
}
.nav-pills > li.active > a:focus {
  background-color: #99aeb8;
}
.tab-content {
  padding-top: 20px;
}
.feature-inner {
  text-align: center;
}
.icon-wrapper {
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) inset;
  background-color: #607d8b;
  border-radius: 100%;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) inset;
  color: #ffffff;
  display: inline-block;
  margin: 10px 0;
  padding: 25px;
}
@media only screen and (min-width: 768px) {
  .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }
  ul.sub-menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
    padding: 10px 0;
    width: 240px;
    box-shadow: none;
    display: none;
    z-index: 999;
    border: 1px solid #99aeb8;
  }
  #header .navbar-nav li ul.sub-menu li a {
    padding-left: 20px;
  }
}
/*md only*/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-4.portfolio-item {
    width: 33%;
  }
}
/*sm only*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-4.portfolio-item {
    width: 33%;
  }
}
/* md */
@media only screen and (max-width: 1200px) {
  /*Pricing Table*/
  .single-price .plan-price:after {
    border-width: 100px;
    margin-left: -100px;
  }
  .single-table .table-content {
    padding: 20px;
  }
  .table-header {
    padding: 0 10px 7px;
  }
  .single-table:before {
    border-width: 0 106px 60px;
  }
  .single-table .btn-signup:after {
    border-width: 78px 106px 0;
  }
}
/* sm */
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 25px;
  }
  #header .navbar-nav.navbar-right li {
    padding: 0;
  }
  #header .navbar-nav.navbar-right > li a {
    padding: 20px 10px;
  }
  #home-slider {
    margin-top: 30px;
  }
  #home-slider .main-slider {
    height: 250px;
  }
  #home-slider .slide-text {
    top: 0;
    width: 50%;
  }
  #home-slider h1 {
    margin-top: 0;
  }
  /*Pricing Table*/
  .single-price {
    margin-bottom: 40px;
  }
  .single-price .plan-price {
    height: 140px;
  }
  .single-price .plan-price:after {
    border-width: 140px;
    margin-left: -140px;
  }
  .single-table {
    margin-bottom: 50px;
  }
  .single-table:before {
    border-width: 0 172px 60px;
  }
  .single-table .btn-signup:after {
    border-width: 78px 173px 0;
  }
  #price-table2 {
    margin-bottom: 100px;
  }
  .nav.navbar-nav.post-nav li {
    display: inline-block;
    margin-right: 15px;
  }
  .masonery_area .nav.nav-justified.post-nav li {
    display: table-cell;
  }
  /* Blog */
  .post-comment {
    padding-left: 0;
  }
  .post-comment .pull-left img {
    margin-right: 20px;
  }
  .parrent .post-comment {
    margin-left: 0;
  }
  .parrent .media-list {
    margin-left: 150px;
  }
  .single-blog.two-column .post-overlay {
    margin-top: 0;
  }
}
/* xs */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  .padding {
    padding: 30px 0;
  }
  #header {
    padding-bottom: 40px;
    padding-top: 10px;
  }
  .social-icons.pull-right {
    float: left !important;
  }
  #header .navbar-inverse .navbar-toggle,
  #header .navbar-inverse .navbar-toggle:focus {
    border-color: #8aa2ae;
    margin-top: 15px;
    margin-right: 5px;
    outline: none;
  }
  .navbar-header .navbar-toggle .icon-bar {
    background-color: #8aa2ae;
  }
  #header .navbar-inverse .navbar-toggle:hover {
    background: #8aa2ae;
  }
  #header .navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-top: 0;
  }
  .navbar.navbar-inverse {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .social-icons ul li:first-child {
    padding-left: 0;
  }
  .search {
    top: -40px;
  }
  #header .navbar-nav.navbar-right li > a > i {
    display: inline-block;
    float: right;
    padding: 8px 10px 8px 30px;
  }
  #header .navbar-nav.navbar-right li > a {
    padding: 10px 0;
  }
  #header .navbar-nav li ul.sub-menu li a {
    padding: 5px 10px;
  }
  #header .navbar-inverse .navbar-nav li.active > a,
  #header .navbar-inverse .navbar-nav li.active > a:focus,
  #header .navbar-nav.navbar-right li > a:hover {
    border: none;
  }
  #home-slider {
    margin: 50px 20px;
  }
  #home-slider .main-slider {
    height: 180px;
  }
  #home-slider .slide-text {
    top: 20px;
    width: 100%;
    text-align: center;
  }
  #home-slider .slider-cloud2 {
    width: 100px;
  }
  /*Pricing Table*/
  .single-price,
  .single-table {
    margin-bottom: 45px;
  }
  .single-price .plan-price {
    height: 200px;
    padding-top: 25px;
  }
  .single-price .plan-price:after {
    border-width: 200px;
    margin-left: -200px;
  }
  .single-table:before {
    border-width: 0 225px 60px;
  }
  .single-table .btn-signup:after {
    border-width: 78px 225px 0;
  }
  .single-table .btn-signup a {
    padding: 15px;
  }
  #action.responsive {
    height: 255px;
  }
  .action.take-tour {
    margin-top: -95px;
  }
  .action.take-tour .col-sm-7 {
    width: 100%;
    text-align: center;
  }
  .action.take-tour .col-sm-5 {
    width: 100%;
    margin-top: 120px;
  }
  .single-features {
    padding-bottom: 0;
    padding-top: 30px;
  }
  .single-features img {
    margin-bottom: 25px;
  }
  .single-features {
    text-align: center;
  }
  .single-features * {
    display: inline-block;
    text-align: center;
  }
  /* about us */
  .team-single {
    margin-bottom: 30px;
  }
  #company-information.choose .padding-top {
    padding-top: 0;
  }
  /* Blog */
  .arrow-right:after {
    background: none ;
  }
  .arrow-left:before {
    background: none;
  }
  .col-sm-6.padding-right.arrow-right {
    padding-right: 15px;
  }
  .col-sm-6.padding-left.padding-top.arrow-left {
    margin-bottom: 70px;
    padding-left: 15px;
  }
  .blog-padding-right {
    padding-right: 15px;
  }
  .nav.nav-justified.post-nav li,
  .nav.navbar-nav.post-nav li {
    display: inline-block;
    margin-right: 15px;
  }
  .author-profile .col-sm-2 img {
    margin-bottom: 20px;
    width: auto;
  }
  .post-comment {
    padding-left: 0;
  }
  .parrent .post-comment {
    margin-left: 0;
  }
  .parrent .media-list {
    margin-left: 140px;
  }
  .post-comment .pull-left img {
    margin-right: 10px;
  }
  .single-blog.two-column .post-overlay {
    margin-top: 0;
  }
  /* Portfolio */
  .project-name h2 {
    margin-top: 20px;
  }
  .portfolio-filter li a {
    padding: 0 15px;
  }
  /*Coming Soon CSS*/
  #coming-soon {
    padding-top: 0;
  }
  .coming-content {
    font-size: 16px;
    padding: 0;
  }
  .coming-content h1 {
    font-size: 27px;
  }
  #countdown li.angle-one:before,
  #countdown li.angle-one:after,
  #countdown li.angle-two:before,
  #countdown li.angle-two:after {
    display: none;
  }
  #countdown {
    margin-bottom: 0;
    margin-top: 50px;
  }
  #countdown li {
    font-size: 18px;
    margin-right: 15px;
  }
  #countdown li span {
    font-size: 35px;
    margin-bottom: 5px;
  }
  #subscribe h2 {
    font-size: 16px;
  }
  #countdown li.angle-two span {
    padding-top: 0;
  }
  #countdown li.angle-one span.minutes {
    margin-left: 0;
  }
  #subscribe {
    font-size: 14px;
    text-align: center;
  }
  #newsletter .form-control {
    font-size: 14px;
    height: 40px;
  }
  #newsletter i {
    font-size: 25px;
  }
  #countdown li.angle-one span.minutes,
  #countdown li.angle-one .minute {
    margin-left: 0;
  }
  /* Contact-us2 CSS*/
  #map-section .contact-info {
    width: 51%;
    padding: 20px;
  }
  #gmap {
    height: 310px;
  }
  #contact-form .btn-submit {
    width: 50%;
  }
  #map-section .contact-info h2 {
    font-size: 20px;
  }
  #map-section .contact-info address {
    font-size: 14px;
  }
  /* 404 error CSS*/
  #error-page {
    padding: 50px 25px;
  }
  #error-page h2 {
    font-size: 24px;
  }
  .btn-error {
    font-size: 13px;
    padding: 12px 18px;
  }
}
@media only screen and (max-width: 480px) {
  /* Pricing Table*/
  .single-price,
  .single-table {
    margin-bottom: 35px;
  }
  .single-price .plan-price {
    height: 110px;
    padding-top: 7px;
  }
  .single-price .plan-price:after {
    border-width: 110px;
    margin-left: -110px;
  }
  .single-table:before {
    border-width: 0 145px 60px;
  }
  .single-table .btn-signup:after {
    border-width: 78px 145px 0;
  }
  /*Coming Soon CSS*/
  #coming-soon {
    padding-top: 0;
  }
  .coming-content {
    font-size: 16px;
    padding: 0;
  }
  .coming-content h1 {
    font-size: 27px;
  }
  #countdown li.angle-one:before,
  #countdown li.angle-one:after,
  #countdown li.angle-two:before,
  #countdown li.angle-two:after {
    display: none;
  }
  #countdown {
    margin-bottom: 0;
    margin-top: 50px;
  }
  #countdown li {
    font-size: 18px;
    margin-right: 15px;
  }
  #countdown li span {
    font-size: 35px;
    margin-bottom: 5px;
  }
  #subscribe h2 {
    font-size: 16px;
  }
  #countdown li.angle-two span {
    padding-top: 0;
  }
  #countdown li.angle-one span.minutes {
    margin-left: 0;
  }
  #subscribe {
    font-size: 14px;
    text-align: center;
  }
  #newsletter .form-control {
    font-size: 14px;
    height: 40px;
  }
  #newsletter i {
    font-size: 25px;
  }
  #countdown li.angle-one span.minutes,
  #countdown li.angle-one .minute {
    margin-left: 0;
  }
  /* Contact-us2 CSS*/
  #map-section .contact-info {
    width: 100%;
  }
  #gmap {
    height: 390px;
  }
  #contact-form .btn-submit {
    width: 60%;
  }
  /* 404 error CSS*/
  #error-page {
    padding: 50px 25px;
  }
  #error-page h2 {
    font-size: 24px;
  }
  .btn-error {
    font-size: 10px;
    padding: 12px 11px;
  }
}
/*# sourceMappingURL=main.css.map */